body {
    font-family: Arial, sans-serif;
    background-color: #f8f5f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.game-container {
    text-align: center;
    max-width: 500px;
    width: 90%;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #8b4513; /* Brown background */
    padding: 10px;
    border-radius: 10px;
}

.card {
    background-color: #fff6e5;
    border: 2px solid #f1e0c5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    /* Bigger grid cells */
    cursor: pointer;
    position: relative;
}

.card img {
    width: 115%;
    /* Larger fruit images */
    height: 115%;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    background-color: #fff;
    cursor: default;
}

#newGame {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

#newGame:hover {
    background-color: #0056b3;
}

#timer,
#gameOver {
    margin-top: 20px;
    font-size: 1.2rem;
}

#timer {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}